#error {
            font-size:15px;
            color:#FF5050;
        }
        form {
            margin: auto;
            margin-top:10%;
            width: 20%;
            background:#F7F7F7;
            padding: 10px;
            border: 1px solid #E4E4E4;
            font: 12px Georgia, "Times New Roman", times, serif;
        }
        form h1{
            font-size:25px;
            padding: 0px 0px 10px 40px;
            display:block;
            border-bottom: 1px solid #E4E4E4;
            color: #888;
        }
        form label{
            display:block;
            margin:0px;
        }
        form input[type="text"], input[type="password"]{
            border: 1px solid #DADADA;
            height:30px;
            margin-bottom: 16px;
            margin-right: 6px;
            margin-top: 2px;
            outline: 0 none;
            padding: 3px 3px 3px 5px;
            width:95%;
            box-shadow: inset 0px 1px 4px #ECECEC;
        }
        form input[type="submit"] {
            background: #E27575;
            border:none;
            padding: 10px 25px;
            color: #FFF;
            box-shadow: 1px 1px 5px #56B6B6;
            border-radius: 3px;
            text-shadow: 1px #9E3F3F;
            cursor: pointer;
        }
        form a{
            float:right;
            background:#FFE6E6;
            color:#332E2E;
            padding:5px 10px;
            border-radius: 10px;
            cursor: pointer;
            text-decoration: none;
        }
